<!-- <div class="dialog">
  <h1 mat-dialog-title style="text-align: center">Update Employee Here</h1>
  <form [formGroup]="updateForm">
    <div mat-dialog-content class="form">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input
          matInput
          placeholder="First Name"
          formControlName="fname"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          placeholder="Last Name"
          formControlName="lname"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" required />
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="btn">
      <div mat-dialog-actions>
        <button mat-raised-button mat-dialog-close color="accent">Close</button>
      </div>
      <div mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="updateEmployee()">
          Update
        </button>
      </div>
    </div>
  </form>
</div> -->
