<div class="crud">
  <div class="crud-head">
    <mat-toolbar>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>My Application <small>(using material UI)</small></span>
      <span class="example-spacer"></span>
      <button
        mat-raised-button
        name="addEmployee"
        color="primary"
        (click)="addEmployee()"
      >
        Add Employee
      </button>
    </mat-toolbar>
  </div>
  <div class="crud-body">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef class="style-head">
          Id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.id }}
        </mat-cell>
      </ng-container>

      <!-- First Name Column -->
      <ng-container matColumnDef="fname">
        <mat-header-cell *matHeaderCellDef class="style-head">
          First Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.fname }} </mat-cell>
      </ng-container>

      <!-- Last Name Column -->

      <ng-container matColumnDef="lname">
        <mat-header-cell *matHeaderCellDef class="style-head">
          Last Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.lname }} </mat-cell>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef class="style-head">
          Email
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.email }} </mat-cell>
      </ng-container>

      Action Column
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="style-head">
          Action
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button
            mat-fab
            color="accent"
            aria-label="Example icon button with a delete icon"
            class="btn"
            (click)="editDialog(element)"
          >
            <mat-icon>edit note</mat-icon>
          </button>
          <button
            mat-fab
            color="warn"
            aria-label="Example icon button with a delete icon"
            (click)="deleteEmployee(element.id)"
            style="margin-left: 10px"
            class="btn"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
